.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #080f0f;
    height: 56px;
}

.toolbar-navigation {
    /* Vertically centers texts */
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer {
    /* Takes all the available space */
    flex: 1;
}

.toolbar-logo {
    margin-left: 1rem;    
}

.toolbar-logo a {
    text-decoration: none;
    font-size: 1.25em;
}

.toolbar-current-page{
    font-weight: bold;
    text-transform: uppercase;
}

.toolbar-timezone {
    display: flex;
}

/* Hides timezone on the toolbar if mobile */
@media (max-width: 768px) {
    .toolbar-timezone {
        display: none;
    }
}