.card {
  background: #323737;
  padding: 10px;
  width: 100%;
  margin: 10px 10px;
  border-radius: 8px;
  /* Shadows */
  -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.1);
}

.game {
  max-width: 340px;
  display: flex;
  /* Distributes the contents across the card */
  justify-content: space-between;
  /* vertically aligns center the game contents */
  align-items: center;
}

.status {
  /* For the long text END OF Q# */
  min-width: 75px;
  font-size: small;
}

.quarter {
  font-size: large;
}

.clock {
  font-size: 14px;
  padding-top: 8px;
}

.score {
  font-size: x-large;
  font-weight: bolder;
}

.slideUpContainer {
  /* Stabalizes slide positions in place */
  display: flex;
  align-items: center;
  justify-content: center;
}
