.games {
  /* Makes sure card is spread out if only 1 game*/
  width: 100%;
  /* Displays the cards in a row */
  display: flex;
  /* Wraps the cards within the main width */
  flex-wrap: wrap;
  /* Centers cards*/
  justify-content: center;
  /* Prevents height from expanding */
  align-content: flex-start;
}

.game {
  margin: 15px;
  border-radius: 53px;
  max-width: 380px;
  display: flex;
  /* Distributes the contents across the card */
  justify-content: space-between;
  /* vertically aligns center the game contents */
  align-items: center;
}

.team-logo {
  height: 85px;
  width: 85px;
  padding: 5px;
}

.status {
  /* For the long text END OF Q# */
  min-width: 75px;
  font-size: small;
}

.quarter {
  font-size: large;
}

.clock {
  font-size: 14px;
  padding-top: 8px;
}

.score {
  padding: 30px;
  font-size: x-large;
  font-weight: bolder;
}
